# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.BuildStackDemo.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityGames\Cases\BuildStackDemo\.idea\.idea.BuildStackDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
